*::-moz-selection {
  background: rgba(249, 112, 66, 0.6);
}*::selection {
  background: rgba(249, 112, 66, 0.6);
}

.fixed-opinion {
  position: fixed;
  height: 30px;
  width: 100%;
  max-width: 300px;
  border-radius: 25px;
  background: white;
  right: 20px;
  bottom: 20px;
  place-content: center;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: cambiaColor 1s linear;
          animation: cambiaColor 1s linear;
}

@-webkit-keyframes cambiaColor {
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes cambiaColor {
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}
.cancel-fixed {
  cursor: pointer;
}

.fixed-opinion.open {
  display: none;
}

header {
  margin: 0;
  padding: 0;
  top: 0;
  background: url("../IMG2/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  position: fixed;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0 auto;
}
header .navs .af {
  margin: 0 auto;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .navs .af .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .navs .af .title h1 {
  font-size: 1.5em;
  color: #2B2427;
  font-weight: 500;
  cursor: pointer;
}
header .navs .af .middle-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 30px;
  font-size: 0.98em;
}
header .navs .af .middle-options a {
  text-decoration: none;
  color: #2B2427;
}
header .navs .af .hide-solutions, header .navs .af .hide-templates, header .navs .af .hide-integrations, header .navs .af .hide-resources {
  width: 100%;
  position: absolute;
  margin-top: 25px;
  gap: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-content: center;
  display: none;
}
header .navs .af .hide-solutions .hide-rows, header .navs .af .hide-templates .hide-rows, header .navs .af .hide-integrations .hide-rows, header .navs .af .hide-resources .hide-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 30px;
}
header .navs .af .hide-solutions.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0px;
}
header .navs .af .hide-templates.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0px;
}
header .navs .af .hide-integrations.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0px;
}
header .navs .af .hide-resources.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 0px;
}
header .navs .af .suscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 15px;
}
header .navs .af .suscription .login {
  text-decoration: none;
  color: #2B2427;
  padding: 10px 15.5px;
  border-radius: 5px;
  border: 1px solid #2B2427;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .navs .af .suscription .login:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 90%;
}
header .navs .af .suscription .signup {
  text-decoration: none;
  color: white;
  padding: 10px 15.5px;
  background: #2B2427;
  border-radius: 5px;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .navs .af .suscription .signup:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 90%;
}
header .navs .af .burger {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  z-index: 1002;
}
header .navs .af .burger .burger-close, header .navs .af .burger .burger-open {
  width: 100%;
  max-width: 35px;
  z-index: 1009;
}
header .navs .af .burger .burger-close img, header .navs .af .burger .burger-open img {
  width: 100%;
  cursor: pointer;
  z-index: 1001;
}
header .navs .af .burger .burger-open {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .navs .af .burger .burger-close.open {
  visibility: hidden;
  position: 0;
}
header .navs .af .burger .burger-open.open {
  visibility: visible;
  opacity: 1;
}

header .mainnav {
  margin-top: 150px;
  width: 97%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .mainnav .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
header .mainnav .title h2 {
  font-size: 3.6em;
  color: #2B2427;
  font-weight: 400;
}
header .mainnav .img-title {
  width: 100%;
  max-width: 600px;
}
header .mainnav .img-title img {
  width: 100%;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  place-content: center;
  margin-top: 25px;
}
main a {
  text-decoration: none;
}
main .inside-main {
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 50px;
}
main .inside-main aside {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
main .inside-main aside h3 {
  font-weight: 500;
  color: #2B2427;
  font-size: 1.2em;
}
main .inside-main aside > form {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2B2427;
}
main .inside-main aside > form div input[type=radio] {
  all: unset;
  padding: 0.1px 10.2px;
  background: white;
  border-radius: 2.5px;
  border: 1px solid #2B2427;
  margin-right: 7.5px;
  cursor: pointer;
}
main .inside-main aside > form div input[type=radio]:focus {
  background: #2B2427;
}
main .inside-main aside > form label {
  cursor: pointer;
  font-size: 0.8em;
}
main .inside-main aside .space {
  margin: 0 auto;
  border-top: 0.1px solid #2B2427;
  opacity: 50%;
  width: 94%;
  margin-top: 25px;
}
main .inside-main aside .space-2 {
  margin: 0 auto;
  border-top: 0.1px solid #2B2427;
  opacity: 50%;
  width: 94%;
}
main .inside-main aside .aside-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
main .inside-main aside .aside-content .aside-titles {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .inside-main aside .aside-content .aside-titles h3 {
  color: #2B2427;
}
main .inside-main aside .aside-content .aside-titles span {
  color: #2B2427;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 800;
}
main .inside-main aside .aside-content .select-aside-options {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 5px;
}
main .inside-main aside .aside-content .select-aside-options a {
  padding-left: 20px;
  text-decoration: none;
  color: #2B2427;
}
main .inside-main aside .aside-content .let-us-know {
  color: #2B2427;
  text-decoration: underline;
  cursor: pointer;
}
main .second-division {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
main .second-division nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 10px;
  width: 98.8%;
  padding-left: 10px;
  background: white;
  -webkit-box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
  margin: 14px 0px 40px 0px;
}
main .second-division nav .magnifying {
  width: 100%;
  max-width: 23px;
  padding: 5px;
}
main .second-division nav .magnifying img {
  width: 100%;
  cursor: pointer;
}
main .second-division nav input {
  all: unset;
  width: 92%;
  cursor: pointer;
}
main .second-division section .section-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-bottom: 50px;
}
main .second-division section .section-inside .inside-title h3 {
  color: #2B2427;
  font-weight: 500;
  font-size: 1.6em;
}
main .second-division section .section-inside .inside-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
main .second-division section .section-inside .inside-tabs .tab {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}
main .second-division section .section-inside .inside-tabs .tab .tab-img {
  width: 100%;
  max-width: 240px;
}
main .second-division section .section-inside .inside-tabs .tab .tab-img img {
  width: 100%;
}
main .second-division section .section-inside .inside-tabs .tab-text {
  padding: 0px 10px;
}
main .second-division section .section-inside .inside-tabs .tab-text h4 {
  font-size: 0.8em;
  font-weight: 500;
}
main .second-division section .section-inside .inside-tabs .tab-text p {
  font-size: 0.75em;
  color: #2B2427;
  font-weight: 400;
}

footer {
  margin-top: 100px;
  width: 100%;
  background: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: white;
}
footer .inside-footer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .inside-footer .title-footer h4 {
  color: #B9B9B9;
  font-weight: 400;
  font-size: 0.9em;
}
footer .inside-footer .before-rows {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .inside-footer .before-rows .after-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 15px;
  margin-top: 25px;
}
footer .inside-footer .before-rows .after-rows .footer-titles {
  margin-bottom: 10px;
}
footer .inside-footer .before-rows .after-rows .footer-titles h4 {
  font-size: 0.8em;
  font-weight: 600;
}
footer .inside-footer .before-rows .after-rows a {
  all: unset;
  cursor: pointer;
  color: white;
  font-weight: 200;
  font-size: 0.8em;
}
footer .inside-footer .before-rows .after-rows a:hover {
  -webkit-text-decoration: 0.3px solid white underline;
          text-decoration: 0.3px solid white underline;
  text-underline-offset: 2.5px;
}
footer .inside-footer .before-rows .smile-videoask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .inside-footer .before-rows .smile-videoask .smily-class {
  width: 100%;
  max-width: 40px;
}
footer .inside-footer .before-rows .smile-videoask .smily-class img {
  width: 100%;
  cursor: pointer;
}
footer .inside-footer .before-rows .let-absolutes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 15px;
}
footer .inside-footer .before-rows .let-absolutes .template-1, footer .inside-footer .before-rows .let-absolutes .template-2, footer .inside-footer .before-rows .let-absolutes .template-3, footer .inside-footer .before-rows .let-absolutes .template-4 {
  text-align: center;
}
footer .inside-footer .before-rows .let-absolutes .template-1 .hide-1, footer .inside-footer .before-rows .let-absolutes .template-1 .hide-2, footer .inside-footer .before-rows .let-absolutes .template-1 .hide-3, footer .inside-footer .before-rows .let-absolutes .template-1 .hide-4, footer .inside-footer .before-rows .let-absolutes .template-2 .hide-1, footer .inside-footer .before-rows .let-absolutes .template-2 .hide-2, footer .inside-footer .before-rows .let-absolutes .template-2 .hide-3, footer .inside-footer .before-rows .let-absolutes .template-2 .hide-4, footer .inside-footer .before-rows .let-absolutes .template-3 .hide-1, footer .inside-footer .before-rows .let-absolutes .template-3 .hide-2, footer .inside-footer .before-rows .let-absolutes .template-3 .hide-3, footer .inside-footer .before-rows .let-absolutes .template-3 .hide-4, footer .inside-footer .before-rows .let-absolutes .template-4 .hide-1, footer .inside-footer .before-rows .let-absolutes .template-4 .hide-2, footer .inside-footer .before-rows .let-absolutes .template-4 .hide-3, footer .inside-footer .before-rows .let-absolutes .template-4 .hide-4 {
  display: none;
  margin: 10px 0px;
}
footer .inside-footer .before-rows .let-absolutes .template-1 .hide-1.open, footer .inside-footer .before-rows .let-absolutes .template-1 .hide-2.open, footer .inside-footer .before-rows .let-absolutes .template-1 .hide-3.open, footer .inside-footer .before-rows .let-absolutes .template-1 .hide-4.open, footer .inside-footer .before-rows .let-absolutes .template-2 .hide-1.open, footer .inside-footer .before-rows .let-absolutes .template-2 .hide-2.open, footer .inside-footer .before-rows .let-absolutes .template-2 .hide-3.open, footer .inside-footer .before-rows .let-absolutes .template-2 .hide-4.open, footer .inside-footer .before-rows .let-absolutes .template-3 .hide-1.open, footer .inside-footer .before-rows .let-absolutes .template-3 .hide-2.open, footer .inside-footer .before-rows .let-absolutes .template-3 .hide-3.open, footer .inside-footer .before-rows .let-absolutes .template-3 .hide-4.open, footer .inside-footer .before-rows .let-absolutes .template-4 .hide-1.open, footer .inside-footer .before-rows .let-absolutes .template-4 .hide-2.open, footer .inside-footer .before-rows .let-absolutes .template-4 .hide-3.open, footer .inside-footer .before-rows .let-absolutes .template-4 .hide-4.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 15px;
}
footer .inside-footer .before-rows .partnet-class {
  text-align: center;
}
footer .inside-footer .before-rows .partnet-class .hide-partner {
  display: none;
  margin: 10px 0px;
}
footer .inside-footer .before-rows .partnet-class .hide-partner.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 15px;
}
footer .inside-footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
footer .inside-footer .social-media .social-img {
  width: 100%;
  max-width: 15px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}
footer .inside-footer .social-media .social-img img {
  width: 100%;
  cursor: pointer;
}
footer .border-top {
  border-top: 1px solid white;
  opacity: 30%;
  width: 100%;
  background: red;
  margin-top: 60px;
}
footer .last-footer {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .last-footer .last-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
footer .last-footer .last-group .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .last-footer .last-group .group .last-img {
  width: 100%;
  max-width: 18px;
}
footer .last-footer .last-group .group .last-img img {
  width: 100%;
  cursor: pointer;
}
footer .last-footer .last-group .group h4, footer .last-footer .last-group .group a {
  text-decoration: none;
  color: white;
  font-size: 0.65em;
  letter-spacing: 0.8px;
  font-weight: 200;
}
footer .last-footer .last-group .group select {
  all: unset;
  cursor: pointer;
}
footer .last-footer .last-group .group select option {
  color: #2B2427;
}
footer .last-footer .copyright {
  cursor: default;
}
footer .last-footer .copyright p {
  font-size: 0.9em;
}

.mainnav.hide {
  display: none;
}

main.hide {
  display: none;
}

footer.hide {
  display: none;
}

.hide-aside-1, .hide-aside-2, .hide-aside-3 {
  cursor: pointer;
}

.h.open {
  position: absolute;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.h2.open {
  position: absolute;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.h3.open {
  position: absolute;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.inside-hide-1, .inside-hide-2, .inside-hide-3, .inside-hide-4 {
  left: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-content: center;
  position: absolute;
}

.inside-hide-1 {
  background: #92BBBF;
}

.inside-hide-2 {
  background: #92BBBF;
}

.inside-hide-3 {
  background: #92BBBF;
}

.inside-hide-4 {
  background: #92BBBF;
}

.BgColour {
  -webkit-transition: 1s;
  transition: 1s;
  background: white;
  border-bottom: 1px solid black;
}

@media (max-width: 1097px) {
  header .mainnav {
    margin-top: 100px;
    width: 92%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mainnav .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  header .mainnav .title h2 {
    font-size: 2.2em;
    color: #2B2427;
    font-weight: 400;
  }
}
@media (max-width: 880px) {
  header .navs .af .middle-options {
    display: none;
  }
  header .navs .af .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    z-index: 1003;
  }
}
@media (max-width: 880px) {
  header .mainnav {
    margin-top: 150px;
    width: 97%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mainnav .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  header .mainnav .title h2 {
    font-size: 2.6em;
    color: #2B2427;
    font-weight: 400;
  }
}
@media (max-width: 880px) {
  header .mainnav {
    margin-top: 150px;
    width: 97%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mainnav .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  header .mainnav .title h2 {
    font-size: 2.6em;
    color: #2B2427;
    font-weight: 400;
  }
}
@media (max-width: 650px) {
  main .second-division section .section-inside .inside-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  main .second-division section .section-inside .inside-tabs .tab {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
  }
}
@media (max-width: 543px) {
  main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    place-content: center;
    margin-top: 25px;
  }
  main .inside-main {
    width: 93%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .inside-main aside {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .inside-main aside h3 {
    font-weight: 500;
    color: #2B2427;
    font-size: 1.2em;
  }
  main .inside-main aside > form {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #2B2427;
  }
  main .inside-main aside > form div input[type=radio] {
    all: unset;
    padding: 0.1px 10.2px;
    background: white;
    border-radius: 2.5px;
    border: 1px solid #2B2427;
    margin-right: 7.5px;
    cursor: pointer;
  }
  main .inside-main aside > form div input[type=radio]:focus {
    background: #2B2427;
  }
  main .inside-main aside > form label {
    cursor: pointer;
    font-size: 0.8em;
  }
  main .inside-main aside .space {
    margin: 0 auto;
    border-top: 0.1px solid #2B2427;
    opacity: 50%;
    width: 94%;
    margin-top: 25px;
  }
  main .inside-main aside .space-2 {
    margin: 0 auto;
    border-top: 0.1px solid #2B2427;
    opacity: 50%;
    width: 94%;
  }
  main .inside-main aside .aside-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .inside-main aside .aside-content .aside-titles {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .inside-main aside .aside-content .aside-titles h3 {
    color: #2B2427;
  }
  main .inside-main aside .aside-content .aside-titles span {
    color: #2B2427;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 800;
  }
  main .inside-main aside .aside-content .select-aside-options {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 5px;
  }
  main .inside-main aside .aside-content .select-aside-options a {
    padding-left: 20px;
    text-decoration: none;
    color: #2B2427;
  }
  main .inside-main aside .aside-content .let-us-know {
    color: #2B2427;
    text-decoration: underline;
    cursor: pointer;
  }
}
@media (max-width: 543px) {
  main .second-division {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  main .second-division section .section-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin-bottom: 35px;
  }
  main .second-division section .section-inside .inside-title h3 {
    color: #2B2427;
    font-weight: 500;
    font-size: 1.6em;
  }
  main .second-division section .section-inside .inside-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  main .second-division section .section-inside .inside-tabs .tab {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
  }
  main .second-division section .section-inside .inside-tabs .tab .tab-img {
    width: 100%;
    max-width: 240px;
  }
  main .second-division section .section-inside .inside-tabs .tab .tab-img img {
    width: 100%;
  }
  main .second-division section .section-inside .inside-tabs .tab-text {
    padding: 0px 10px;
  }
  main .second-division section .section-inside .inside-tabs .tab-text h4 {
    font-size: 0.8em;
    font-weight: 500;
  }
  main .second-division section .section-inside .inside-tabs .tab-text p {
    font-size: 0.75em;
    color: #2B2427;
    font-weight: 400;
  }
}
@media (max-width: 430px) {
  header .mainnav .title h2 {
    font-size: 2em;
    color: #2B2427;
    font-weight: 400;
  }
}
@media (max-width: 340px) {
  header .navs .af .suscription {
    gap: 5px;
  }
}
.overlay {
  display: none;
}
.overlay .middle-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  gap: 30px;
  font-size: 0.98em;
  z-index: 1001;
}
.overlay .middle-options a {
  text-decoration: none;
  color: #2B2427;
}
.overlay .hide-solutions, .overlay .hide-templates, .overlay .hide-integrations, .overlay .hide-resources {
  display: none;
}
.overlay .hide-solutions.open {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.overlay .hide-templates.open {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.overlay .hide-integrations.open {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.overlay .hide-resources.open {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.overlay.open {
  margin-top: 50px;
  width: 100%;
  height: 87%;
  color: #2B2427;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
  z-index: 1000;
  position: absolute;
}